/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;     /* Ajout du margin zero comme sur la maquette */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;  
    height: 100px;
    justify-content: space-between;
}


.header-logo {     /* J'imagine qu'il y avait une autre façon de faire mais celle-ci à marché */  
    width: 45px;
    height: 15px;
    margin-top: 25px;
}

.menu {
    list-style-type: none;
    display: flex;
   
}

#accomodation {
    width: 150px;        /* J'imagine qu'il y avait une autre façon de faire mais celle-ci à marché */
    position: relative;
}

#activities {
    position: relative;
}

#accomodation :hover:before {        /* Barre bleue au dessus d'hébergements */
    content:"";
    position: absolute;
    top: -17px;
    left: 0;
    width: 113px;
    height: 5px;
    background-color: #0065FC;
}

#activities :hover:before {        /* elle n'était pas marqué mais j'en déduis qu'il y en avait une aussi */
    content:"";
    position: absolute;
    top: -17px;
    left: 0;
    width: 65px;
    height: 5px;
    background-color: #0065FC;
}

#accomodation:hover,
#activities:hover {
    color: #0065FC;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    display: flex;
    align-items: center;
    flex-flow:row wrap ;
    margin: 0;  
    font-size: 22px;
}

.subtitle {
    display: flex;
    align-items: center;
    flex-flow:row wrap;
    margin-top: 8px;
}

.zoneForm {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-top: 10px;
}

.logo-location{
    display: flex;
    align-items: center;
    padding: 11px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px 0 0 10px;
}

input {
  border: solid #f2f2f2 1px;
  padding: 10px;
  border-right: none;
  border-left: none;
  font-weight: bold;
}

.search {
    display: flex;
    align-items:center;
    padding: 11px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius:0 10px 10px 0 ;
    cursor: pointer;
}

/*Je sais que ce n'est pas exactement pareil mais sinon je dois tranformer mon form en textarea ou utliser du JS mais je n'ai pas le droit pour cette exercice*/
input::placeholder{  
    font-weight: bold;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-left: 0;
    align-items: center;
}

#money {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#family {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#romantic {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#best {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#money:hover, #family:hover, #romantic:hover, #best:hover {
    background-color: rgba(205, 218, 250, 0.37);
    cursor: pointer;
}

.info {
    display: flex;
    padding: 10px;
    padding-left: 0;
    align-items: center;
    border-radius: 50%;   /*Je sais que c'est en pourcentage mais j'ai vraiment du mal à avoir un cercle parfait en px */
}

#logo-info {
    align-items: center;
    display: flex;
    padding: 10px;
    margin-right: 10px;
    border: solid #F2F2F2 1px;
    height: 10px;
    border-radius: 50%;    /*Je sais que c'est en pourcentage mais j'ai vraiment du mal à avoir un cercle parfait en px */
}

/*zone Main */



.hcard {
    background-color: white;
    border-radius: 20px ;
    width: 235px;
    height: 190px;
    padding: 5px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}

.hcard img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.card-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.hcard-subtitle {
    font-size: 15px;
    margin-top: 0;
}

.hcard-rating{
    margin-top: 0;
    margin-bottom: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.hebergements-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    align-items: center;
}

.hebergements-card .hcard {
    display: flex;
    flex-direction: column;
}

.hebergements-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content-hebergement {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-card .card-rating {
    margin-top: 10px;
}

.more {
    font-weight: bold;
    font-size: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.card img {
    object-fit: cover;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activities-zone {
    height: 30%;
    padding-top: 40px;
    
}

.activities-cards {  
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
}

.a-card {
    width: 323px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}

.a-card img {
    object-fit: cover;
}

.activities-cards img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content-activities {
    width: 67%;
    padding-left: 15px;
    display: flex;
    align-items: stretch;
}

.card-title-activities {
    font-size: 13px;
    }

/*Footer*/

footer {
    background-color: #F2F2F2;
    display: flex;
    gap: 150px;
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.our-accomodations {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.assist {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title-footer {
    font-size: 17px;
    margin-top: 0;
}

.footer-links {
    font-size: 13px;
    margin: 5px;
    margin-left: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    button ::before {           /*L'émojie loupe se créé à partir de la taille 768px max de l'écran */
            content: "🔍";
            font-size: 12px;
     }

     button {
        font-size: 0;  /*Le mot 'Rechercher' disparait*/
     }
}