/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;     /* Ajout du margin zero comme sur la maquette */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;  
    height: 100px;
    justify-content: space-between;
}


.header-logo {     /* J'imagine qu'il y avait une autre façon de faire mais celle-ci à marché */  
    width: 70px;
    height: 28px;
    margin-top: 25px;
}

.menu {
    list-style-type: none;
    display: flex;
   }

#accomodation {
    width: 155px;
    position: relative; /* mise en place de la position relative pour l'ajout du trait en "::before"*/
}

#activities {
    position: relative; /* mise en place de la position relative pour l'ajout du trait en "::before"*/
}

#accomodation :hover:before {    /* Barre bleue au dessus d'hébergements */
    content:"";
    position: absolute;
    top: -17px;
    left: 0;
    width: 113px;
    height: 5px;
    background-color: #0065FC;
}

#activities :hover:before {     /* elle n'était pas marqué mais j'en déduis qu'il y en avait une aussi */
    content:"";
    position: absolute;
    top: -17px;
    left: 0;
    width: 65px;  
    height: 5px;
    background-color: #0065FC;
}

#accomodation:hover,
#activities:hover {
    color: #0065FC;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    display: flex;
    align-items: center;
    flex-flow:row wrap ;
    margin: 0;  
    font-size: 22px;
}

.subtitle {
    display: flex;
    align-items: center;
    flex-flow:row wrap;
    margin-top: 8px;
}

.zoneForm {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-top: 10px;
}

.logo-location{
    display: flex;
    align-items: center;
    padding: 11px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px 0 0 10px;
}

input {
  border: solid #f2f2f2 1px;
  padding: 10px;
  border-right: none;
  border-left: none;
  font-weight: bold;
}

.search {
    display: flex;
    align-items:center;
    padding: 11px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius:0 10px 10px 0 ;
    cursor: pointer;
}


input::placeholder{  
    font-weight: bold;
} /*Je sais que ce n'est pas exactement pareil mais sinon je dois tranformer mon form en textarea ou utliser du JS mais je n'ai pas le droit pour cette exercice*/

.zone-filters {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-left: 0;
    align-items: center;
}

#money {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#family {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#romantic {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#highlights {
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

#money:hover, #family:hover, #romantic:hover, #highlights:hover {
    background-color: rgba(205, 218, 250, 0.37);
    cursor: pointer;
} /* permet de faire un effet de survol avec une transparence */

.info {
    display: flex;
    padding: 10px;
    padding-left: 0;
    align-items: center;
    border-radius: 50%;   /*Je sais que c'est en pourcentage mais j'ai vraiment du mal à avoir un cercle parfait en px */
}

#logo-info {
    align-items: center;
    display: flex;
    padding: 10px;
    margin-right: 10px;
    border: solid #F2F2F2 1px;
    height: 10px;
    border-radius: 50%;    /*Je sais que c'est en pourcentage mais j'ai vraiment du mal à avoir un cercle parfait en px */
}

/*zone Main */

/* j'ai changé la disposition des attributs css pour mieux me repérer quand je travaillais dessus */
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

/* j'ai décidé d'enlever '.hebergements-and-populaires section{}' et d'ajouter son contenu à chaque section en question. Ça m'a permit par la suite de pouvoir gérer le background de '.hebergement' qui disparait en responsive mobile */

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-card-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.hebergements-card {
    background-color: white;
    border-radius: 20px ;
    width: 235px; /* J'ai décidé de parler en px car je n'ai pas réussi à gérer le % afin d'avoir des vignettes exactement symétrique */
    padding: 5px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}


.card-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hebergements-card-zone .hebergements-card {
    flex-direction: column;
}

.hebergements-card-zone img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.hebergements-card-zone .card-content-hebergement {
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
}

.hebergement-card-subtitle {
    font-size: 15px;
    margin-top: 0;
}

.more {
    display: flex;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.card img {
    object-fit: cover;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activities-zone {
    padding-top: 40px; 
}

.activities-cards-zone {  
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;
}

.activities-card {
    width: 300px; /* J'ai décidé de parler en px car je n'ai pas réussi à gérer le % afin d'avoir des vignettes exactement symétrique */
    height: 425px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}

.activities-card img {
    object-fit: cover;
}

.activities-cards-zone img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards-zone .card-content-activities {
    display: flex;
    padding-left: 15px;
}

.card-title-activities {
    font-size: 13px;
    }

/*Footer*/

footer {
    background-color: #F2F2F2;
    display: flex;
    gap: 150px;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.our-accomodations {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.assist {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title-footer {
    font-size: 17px;
    margin-top: 0;
}

.footer-links {
    font-size: 13px;
    margin: 5px;
    margin-left: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hcard .card-title {
        font-size: 14px;
    }

    .hcard .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-card {
        width: 210px; /* J'ai décidé de parler en px car je n'ai pas réussi à gérer le % afin d'avoir des vignettes exactement symétrique */
        height: 275px;
    }
    
    .activities-cards-zone img {
        height: 75%;
    }

    .card-content-activities {
        width: 80%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    nav {
        width: 100%;
    }

    .menu {
        height: 55px;
        padding: 0;
    }

    #accomodation, #activities {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 18px;
        border-bottom: #F2F2F2 solid 2px;
    }
    
    #accomodation:hover, #activities:hover {
        border-bottom: #0065FC solid 2px;
    }

    #accomodation :hover:before, #activities :hover:before {
        display: none;
    }
    
    .title-forms-filters {
        padding: 20px;     
    }

    .zoneForm {
        justify-content: center;
    }

    button ::before {           /*L'émojie loupe se créé à partir de la taille 768px max de l'écran */
        content: "🔍";
        font-size: 12px;
    }

    button {
    font-size: 0;  /*Le mot 'Rechercher' disparait*/
    box-shadow: 0px 2px 4px black;
    }

    .zone-filters {
        display: inline;
    }

    .filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    

    #money, #family, #romantic, #highlights{
        display: flex;
        justify-content: center;
        width: 35%;
        border: #f2f2f2 solid 3px;
    }

    #logo-money, #logo-family, #logo-romantic, #logo-highlights {
        margin-right: 8px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    #populaires {
        width: 100%; 
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-card {
        width: 100%;
    }

    #hebergements { 
        width: 100%; 
    }

    .activities-title {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .activities-cards-zone {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 20px;
    }

    .activities-card {
        width: 100%;
    }

    #activities-card {
        width: 100%;
    }

    footer {
        gap: 0;
        flex-direction: column;
        width: 90%;
        height: 400px;
        margin-bottom: 0;
        margin-left: 0;
    }
}